<a href="https://colab.research.google.com/github/Jms4695/Python--Joe/blob/main/Using_Dictornaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
grades = {'Ana':'81', 'John':'90', 'Denise':'92', 'Katy':'93'}
for key in grades.keys():
 print(key)
 print()
for value in grades.values():
 print(value)
 print()
for key, value in grades.items():
 print(key, value)

In [3]:
months = {1: "January", 2: "February", 3: "March"}

print(f'The first month in a year is {months[1]}')

The first month in a year is January

In [8]:
months = {}

numbers = [1,2,3,4,5,6,7,8,9,10,11,12]
names = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]

for num in numbers:
  months[num] = names [num -1]
print(months)

{1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}